.titulo__network__item  {
    align-items: center;
    display: flex;
    gap: 4px;
    height: 24px;
    width: 92px;
    display: flex;
    gap: 10px;
}
.titulo__network__item a {
    color: var(--cinza);
}



