.hobbies__container__item{
    background-color: var(--branco);
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 156px;
    justify-content: flex-end;
    padding: 16px;
    width: 165px;
}

.hobbies__container__item img{
    height: 37px;
    width: 24px;
}