:root{
    --cinza: #464646;
    --background__azul: #EAF2FD;
    --branco: #FFFFFF;
    --bacground__fundo: #F5F5F5;
    --azul__botao: #2A7AE4;
    
}

a{
    cursor: pointer;
    text-decoration: none;
}