:root{
    --cinza: #464646;
    --background__azul: #EAF2FD;
    --branco: #FFFFFF;
    --background__fundo: #F5F5F5;
    --azul__botao: #2A7AE4;

}

a{
    cursor: pointer;
    text-decoration: none;

}
a:hover{
    text-decoration: underline var(--azul__botao);
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 2%;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

footer{
    height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__rodape{
    color: var(--cinza);
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    height: 38px;
}